@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/centurygothic.ttf') format('truetype');
}


* {
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

.header {
    background: white;
    padding: 0px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: #ffff;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(164, 44, 44, 0.1);
    position: relative;
    padding: 30px 20px;
}

.logo_img {
    width: 50px;
    height: 50px;
}

.gift {
    font-size: 40px;
    color: #e91e63;
    text-align: center;
}

.Ease {
    font-size: 40px;
    font-weight: bold;
    color: #2C2C2C;
}


.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #2C2C2C;
    font-weight: 500;
}

/* Hero */
.hero {
    background: linear-gradient(135deg, #fff 0%, #fed2ed 100%);
    padding: 80px 20px;
    text-align: center;
}

.badge {
    background: #e91e63;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 48px;
}

.hero h1 span {
    color: #e91e63;
}

.hero p {
    color: #666;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn1 {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #e91e63;
    text-decoration: none;
    border: 1px solid #e91e63;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: 600;
    justify-content: center;
    background: #FFFFFF;
    margin: 5px;
    outline: 1px solid #e91e63;
}

.btn1:hover {
    background: #e91e63;
    color: #FFFFFF;
    transform: translateY(-2px);
    box-shadow: #e91e63;
}

.btn1 i {
    margin-right: 8px;
}

.btn2 {
    display: flex;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Century Gothic', sans-serif;
    color: #ffff;
    background: #e91e63;
    border: 2px solid #e91e63;
    border-radius: 0px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn2:hover {
    background: #FFFFFF;
    color: #e91e63;
    transform: translateY(-2px);
    box-shadow: #FFFFFF;
}

/* Stats */
.stats {
    background: #e91e63;
    color: white;
    padding: 60px 20px;
}

.grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}

.big {
    font-size: 48px;
    font-weight: bold;
}

/* Sections */
.how, .features, .stakeholders {
    padding: 80px 20px;
}

.features {
    background: white;
}

.how, .stakeholders {
    background: #f9f9f9;
}

.sub {
    color: #666;
    margin-bottom: 60px;
}

/* Cards */
.card {
    margin: 12px;
    padding: 32px;
    background: white;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    overflow: hidden;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background: #e91e63;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}


.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 24px;
}

.pink { background: #e91e63; }
.blue { background: #3b82f6; }
.green { background: #10b981; }
.purple { background: #8b5cf6; }

/* CTA */
.cta {
    background: #2C2C2C;
    color: white;
    text-align: center;
    padding: 80px 20px;
}
