@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/centurygothic.ttf') format('truetype');
}

* {
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn1 {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #d03c2e;
    text-decoration: none;
    border: 1px solid #d03c2e;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: 600;
    justify-content: center;
    background: #FFFFFF;
    margin: 5px;
    outline: 1px solid #d03c2e;
}

.btn1:hover {
    background: #d03c2e;
    color: #FFFFFF;
    transform: translateY(-2px);
    box-shadow: #d03c2e;
}

.btn1 i {
    margin-right: 8px;
}

.btn2 {
    display: flex;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Century Gothic', sans-serif;
    color: #ffff;
    background: #d03c2e;
    border: 2px solid #d03c2e;
    border-radius: 0px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn2:hover {
    background: #FFFFFF;
    color: #d03c2e;
    transform: translateY(-2px);
    box-shadow: #FFFFFF;
}